{% extends "crushimam/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container allauth-signup">
    <div class="allauth-signup-form">
        <h1>{% trans "Sign In" %}</h1>
        <div class="">
            <form class="account-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button type="submit">{% trans "Sign In" %}</button>
            </form>
            
            <p class="account-form">Don't have an account? <a href="{{ signup_url }}">Sign up</a></p>
            
        </div>
    </div>
</div>
{% endblock %}
