{% extends "crushimam/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container allauth-password-reset">
    <div class="allauth-password-reset-form">
        <h1>{% trans "Password Reset" %}</h1>
        
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form class="account-form" method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">{% trans "Reset My Password" %}</button>
        </form>

        <p class="account-form">
            <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
        </p>
    </div>
</div>
{% endblock %}
